name: uplifting-api
services:
  postgres:
    image: postgres:latest
    container_name: postgres
    ports:
      - "5401:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - pg-data:/var/lib/postgresql

volumes:
  pg-data:
